---
layout: default
---

%article.post_article
  .article_body
    .wrap{ style:"width:50px;" }
      %img{:src => "/images/me.jpeg", :alt => "me"}
    :maruku
      ## Takashi Nakagawa(tak0303)

      I'm a Rubyist, JavaScripter(also CS), PHPer

      interested in Engineering and Design, Drawing

      work at [Campus Inc](http://campus-inc.org)  Feb 2012 ~ Feb 2013
