!!! 55
%html
  {% include head.html %}
  %body
    {% include header.html %}
    #content
      .container
        {{ content }}

        {% unless page.url == '/index.html' %}
        {% include footer.html %}
        {% endunless %}