.footer
  .footer_inner
    %section
      .block
        %a{ href: "https://twitter.com/tak0303", target: 'blank' }<
          %span.icon-twitter-3.round
          .comment follow me on twitter
      .block
        %a{ href: "https://www.facebook.com/takashi.nakagawa.796", target: 'blank' }<
          %span.icon-facebook.round
          .comment contact me on facebook
      .block
        %a{ href: "https://github.com/tak0303", target: 'blank' }<
          %span.icon-github-02.round
          .comment fork me on github