#header
  .container_header
    %section.name<
      %a{:href => "/"}
        dot
        %span s
    %ul.menu
      // you can add links with just copy
      %li
        %a{:href => "/about.html"} about