%head
  %meta{ "http-equiv" => "Content-Type", content: "text/html; charset=utf8" }
  %title {{site.title}}{% if page.title %} | {{ page.title }}{% endif %}
  %meta{ name: "description", content: "programming notes by tak0303" }
  %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}
  %link{ rel: "stylesheet", href: "/assets/css/main.css" }
  %link{ rel: "stylesheet", href: "/assets/css/pygments.css" }
  %link{ rel: "stylesheet", href: "http://fonts.googleapis.com/css?family=Open+Sans:400,300" }
  %link{ rel: "stylesheet", href: "/assets/css/pictonic.css"}
  /[if IE]
    %script{src:"/assets/js/pictonic.min.js" }